


/*===========================
    5.ABOUT css 
===========================*/





.about-us-area{
	margin-bottom: 120px;
	& .abuot-thumb{
		position: relative;
		z-index: 10;
		&::before{
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-top: 300px solid #f4f9ff;
			border-right: 300px solid transparent;
			left: -30px;
			top: -30px;
			z-index: 1;
		}
		& > img{
			width: 100%;
			position: relative;
			z-index: 2;
		}
		& .about-shape{
			position: absolute;
			z-index: 3;
			top: -52px;
			right: 40px;
			background: $theme-color;
			height: 100px;
			width: 100px;
			border-radius: 50%;
			text-align: center;
			line-height: 100px;
		}
		& .about-icon{
			height: 100px;
			width: 100px;
			text-align: center;
			line-height: 130px;
			border-radius: 50%;
			background: $theme-color;
			position: absolute;
			left: 80px;
			bottom: -50px;
			z-index: 3;
			@media #{$xs} {
				left: 20px;
			}
			& i{
				font-size: 50px;
				color: $white;
			}
		}
	}
	& .about-content{
		@media #{$md} {
			margin-left: 0;
		}
		@media #{$xs} {
			margin-left: 0;
		}
		& > span{
			color: $theme-color;
			font-weight: 700;
			padding-bottom: 18px;
			@media #{$md} {
				margin-top: 85px;
			}
			@media #{$xs} {
				margin-top: 85px;
			}
		}
		& > .title{
			font-size: 60px;
			line-height: 70px;
			padding-bottom: 40px;
			@media #{$lg} {
				font-size: 48px;
				line-height: 58px;
			}
			@media #{$xs} {
				font-size: 34px;
				line-height: 44px;
			}
			@media #{$sm} {
				font-size: 52px;
				line-height: 62px;
			}
		}
		& .about-info{
			position: relative;
			padding-left: 100px;
			@media #{$xs} {
				padding-left: 80px;
			}
			& img{
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			
			& .title{
				font-size: 24px;
			}
			& span{
				font-weight: 700;
				color: $theme-color;
				padding-top: 3px;

			}
		}
	}
	&.about-3-area{
		padding-top: 197px;
		margin-bottom: 0;
		padding-bottom: 197px;
		@media #{$md} {
			padding-top: 115px;
			padding-bottom: 120px;
		}
		@media #{$xs} {
			padding-top: 115px;
			padding-bottom: 120px;
		}
		& .about-content{
			& > span{
				font-weight: 700;
				color: $theme-color;
				padding-left: 70px;
				position: relative;
				padding-bottom: 0;
				margin-bottom: 18px;
				@media #{$md} {
					margin-top: 0;
				}
				@media #{$xs} {
					margin-top: 0;
				}
				&::before{
					position: absolute;
					content: '';
					left: 33px;
					top: 50%;
					transform: translateY(-50%);
					height: 5px;
					width: 15px;
					border-radius: 30px;
					background: $theme-color;
				}
				&::after{
					position: absolute;
					content: '';
					left: 0px;
					top: 50%;
					transform: translateY(-50%);
					height: 5px;
					width: 28px;
					border-radius: 30px;
					background: $theme-color;
				}
			}
			& > .title{
				font-size: 60px;
				line-height: 70px;
				padding-bottom: 25px;
				@media #{$lg} {
					font-size: 50px;
					line-height: 55px;
				}
				@media #{$xs} {
					font-size: 36px;
					line-height: 40px;
				}
				@media #{$sm} {
					font-size: 48px;
					line-height: 52px;
				}
			}
			& p{
				padding-right: 260px;
				padding-bottom: 40px;
				@media #{$lg} {
					padding-right: 100px;
				}
				@media #{$xs} {
					padding-right: 0px;
				}
			}
		}
		& .about-thumb{
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: -1;
			@media #{$lg} {
				width: 50%;
			}
			@media #{$md} {
				width: 0%;
			}
			@media #{$xs} {
				width: 0%;
			}
		}
	}
}






.about-2-area{
	padding-top: 118px;
	@media #{$xs} {
		margin-bottom: 120px;
	}
	& .about-thumb{
		& img{
			width: 90%;
			@media #{$lg} {
				width: 90%;
			}
		}
	}

	& .about-content{
		margin-left: -50px;
		@media #{$md} {
			margin-left: 0;
			padding-top: 0;
		}
		@media #{$xs} {
			margin-left: 0;
			padding-top: 0;
		}
		& span{
			padding-left: 70px;
			font-weight: 700;
			color: #007afa;
			position: relative;
			&::before{
				position: absolute;
				content: '';
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				height: 4px;
				width: 28px;
				background: #0039a7;
				border-radius: 30px;
			}
			&::after{
				position: absolute;
				content: '';
				left: 33px;
				top: 50%;
				transform: translateY(-50%);
				height: 4px;
				width: 17px;
				background: #0079f9;
				border-radius: 30px;
			}
		}
		& .title{
			font-size: 60px;
			line-height: 70px;
			color: $heading-color;
			padding-bottom: 25px;
			@media #{$lg} {
				font-size: 48px;
				line-height: 52px;
			}
			@media #{$xs} {
				font-size: 36px;
				line-height: 42px;
			}
			@media #{$sm} {
				font-size: 48px;
				line-height: 50px;
			}

		}
		& > p{
			font-size: 20px;
			line-height: 32px;
			@media #{$lg} {
				font-size: 18px;

			}
			@media #{$xs} {
				font-size: 15px;

			}
			@media #{$sm} {
				font-size: 18px;

			}
			&.text{
				font-size: 16px;
				line-height: 28px;
				padding-right: 30px;
				padding-top: 32px;
				@media #{$lg} {
					padding-right: 0;
				}
				@media #{$md} {
					padding-right: 0;
				}
				@media #{$xs} {
					padding-right: 0;
				}
			}
		}
		& ul{
			display: flex;
			margin-top: 40px;
			@media #{$xs} {
				display: block;
			}
			@media #{$sm} {
				display: flex;
			}
			& li{
				margin-right: 60px;
				text-align: center;
				@media #{$xs} {
					margin-right: 0;
					margin-top: 30px;
				}
				& i{
					font-size: 60px;
					color: #006dea;
				}
				& p{
					font-size: 14px;
					color: $body-color;
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 2px;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

.call-2-area{
	margin-bottom: 120px;
	margin-top: -160px;
	@media #{$lg} {
		margin-top: -100px;
	}
	@media #{$md} {
		margin-top: 30px;
	}

	& .call-item{
		height: 160px;
		background: $white;
		box-shadow: 0px 8px 16px 0px rgba(0, 84, 255, 0.1);
		position: relative;
		z-index: 10;
		& i{
			position: absolute;
			left: 46%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 30px;
			color: #0048a4;
			height: 80px;
			width: 80px;
			text-align: center;
			line-height: 80px;
			background: $white;
			border-radius: 50%;
			box-shadow: 0px 8px 16px 0px rgba(0, 84, 255, 0.2);
			@media #{$lg} {
				left: 49%;
			}
			@media #{$md} {
				display: none;
			}
			@media #{$xs} {
				display: none;
			}
		}
		&::before{
			position: absolute;
			content: '';
			right: 0;
			top: 0;
			height: 100%;
			width: 625px;
			background: linear-gradient(90deg, rgba(0,54,164,1) 25%, rgba(0,126,255,1) 100%);
			z-index: -1;
			@media #{$lg} {
				width: 475px;
			}
			@media #{$md} {
				width: 365px;
			}
		}
		& .item{
			@media #{$md} {
				padding-left: 20px;
			}
			& .title{
				font-size: 40px;
				color: $heading-color;
				@media #{$lg} {
					font-size: 36px;
				}
				@media #{$md} {
					font-size: 30px;
				}
			}
			& span{
				color: #007afa;
				font-weight: 700;
			}
		}
		& .item-2{
			margin-right: 155px;
			@media #{$lg} {
				margin-right: 30px;
			}
			@media #{$md} {
				margin-right: 20px;
			}
			& span{
				color: $white;
				font-weight: 600;
				text-transform: uppercase;
			}
			& .title{
				color: $white;
				font-size: 40px;
				@media #{$lg} {
					font-size: 36px;
				}
				@media #{$md} {
					font-size: 30px;
				}
			}
		}
	}
}



.about-item-area{
	padding-top: 62px;
	padding-bottom: 120px;
	position: relative;
	&::before{
		position: absolute;
		content: '';
		background: rgba(0, 39, 118, 0.9);
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}
	& .about-item{
		& .title{
			background: -webkit-linear-gradient($accent-color, $heading-color);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 200px;
			line-height: 200px;
			margin-bottom: -60px;
			@media #{$lg} {
				font-size: 170px;
			}
		}
		& .icon{
			height: 220px;
			width: 220px;
			display: inline-block;
			border: 10px solid $accent-color;
			border-radius: 50%;
			line-height: 240px;
			position: relative;
			@media #{$lg} {
				width: 210px;
				height: 210px;
			}
			&::before{
				position: absolute;
				content: '';
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				height: 180px;
				width: 180px;
				border-radius: 50%;
				border: 2px solid #143b8b;
			}
			& i{
				color: $white;
				font-size: 60px;
			}
		}
		& span{
			font-size: 20px;
			font-weight: 700;
			color: $white;
			padding-top: 40px;
			@media #{$xs} {
				width: 100%;
			}
		}
	}
	& .about-item-btn{
		padding-top: 63px;
		& a{
			line-height: 60px;
			border: 2px solid #435f99;
			background-color: transparent;
			color: $white;
			border-radius: 40px;
			padding: 0 55px;
			&:hover{
				background: $theme-color;
				border-color: $theme-color;

			}
		}
	}
}


.about-box-area{
	& .about-box{
		border: 16px solid #e9f1ff;
		padding: 77px 24px 77px;
		position: relative;
		& .about-box-title{
			& span{
				font-weight: 700;
				color: $theme-color;
				position: relative;
				&::before{
					position: absolute;
					content: '';
					left: -60px;
					top: 50%;
					transform: translateY(-50%);
					height: 4px;
					width: 17px;
					background: $theme-color;
					border-radius: 10px;
				}
				&::after{
					position: absolute;
					content: '';
					left: -37px;
					top: 50%;
					transform: translateY(-50%);
					height: 4px;
					width: 17px;
					background: $theme-color;
					border-radius: 10px;
				}
			}
			& .title{
				font-size: 60px;
				line-height: 70px;
				padding-top: 19px;
				@media #{$lg} {
					font-size: 46px;
					line-height: 56px;
				}
				@media #{$md} {
					font-size: 58px;
					line-height: 68px;
				}
				@media #{$xs} {
					font-size: 26px;
					line-height: 36px;
				}
				@media #{$sm} {
					font-size: 40px;
					line-height: 50px;
				}
			}
			& p{
				padding-left: 20px;
				padding-right: 70px;
				@media #{$lg} {
					padding-left: 0;
					padding-right: 0;
				}
				@media #{$md} {
					padding-left: 100px;
					padding-right: 0;
					padding-top: 20px;
				}
				@media #{$xs} {
					padding-left: 0px;
					padding-right: 0;
					padding-top: 20px;
				}
			}
		}
		& .shape{
			position: absolute;
			top: 24px;
			left: 24px;
			width: 0;
			height: 0;
			border-top: 50px solid $theme-color;
			border-right: 50px solid transparent;
		}
	}
}
