


/*===========================
    3.BANNER css 
===========================*/




.banner-area{
    height: 800px;
    padding-top: 120px;
    position: relative;
    @media #{$md} {

    }
    @media #{$xs} {
        height: auto;
        padding: 40vw 0 30vw;
    }
    @media #{$sm} {
        height: 700px;
    }
    &::before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        // background-color: rgba(0, 18, 25, 0.11);
        
    }
    & .banner-content{
        & span{
            color: $white;
            font-size: 20px;
            padding-bottom: 35px;
        }
        & .title{
            color: $white;
            font-size: 100px;
            line-height: 1.15em;
            padding-bottom: 22px;
            text-shadow: 0 5px 13px rgba(0, 0, 0, 0.3);
            @media #{$lg} {
                font-size: 84px;
            }
            @media #{$md} {
                font-size: 70px;
                line-height: 80px;
            }
            @media #{$xs} {
                font-size: 10vw;
                line-height: 13vw;
            }
            @media #{$sm} {
                font-size: 10vw;
                line-height: 13vw;
            }
        }
        & ul{
            & li{
                display: inline-block;
                & .play{
                    height: 60px;
                    width: 60px;
                    text-align: center;
                    line-height: 54px;
                    border-radius: 50%;
                    border: 2px solid #5e7785;
                    margin-left: 26px;
                    color: $white;
                }
            }
        }
    }
    &.banner-area-2{
        position: relative;
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        @media #{$md} {
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
        @media #{$xs} {
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
        &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0, 13, 38);
            opacity: 0.302;

        }
        & .banner-content{
            & .title{
                font-size: 140px;
                text-transform: uppercase;
                line-height: 120px;
                @media #{$lg} {
                    font-size: 100px;
                    line-height: 90px;
                }
                @media #{$md} {
                    font-size: 80px;
                    line-height:80px;
                }
                @media #{$xs} {
                    font-size: 34px;
                    line-height:40px;
                }
                @media #{$sm} {
                    font-size: 60px;
                    line-height:60px;
                }
            }
            & span{
                padding-bottom: 25px;
            }
        }
    }
    &.banner-3-area{
        background: #f2faff;
        position: relative;
        &::before{
            display: none;
        }
        & .banner-content{
            & span{
                color: $heading-color-2;
            }
            & .title{
                color: $heading-color-2;
                @media #{$lg} {
                    font-size: 74px;
                    line-height: 80px;
                }
            }
            & ul{
                & li{
                    & .play{
                        border: 0;
                        background: $white;
                        color: $theme-color;
                        box-shadow: 0px 20px 40px 0px rgba(104,146,220,0.4);
                        line-height: 60px;
                    }
                }
            }
        }
        & .banner-thumb{
            position: absolute;
            right: 0;
            bottom: 0;
            text-align: right;
            & img{
                width: 75%;
                @media #{$lg} {
                    width: 60%;
                }
                @media #{$md} {
                    width: 55%;
                }
                @media #{$xs} {
                    width: 0%;
                }
                @media #{$sm} {
                    width: 50%;
                }
            }
        }
    }
}


.banner-main{
    margin-right: 40px;
    padding-right: 40px;
    @media #{$md} {
        margin-right: 0;
        padding-right: 0;
    }
    @media #{$xs} {
        margin-right: 0;
        padding-right: 0;
    }
}


.page-title-area{
    height: 400px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    @media #{$md} {
        margin-top: 70px;
    }
    @media #{$xs} {
        margin-top: 70px;
    }
    & .page-title-item{
        & .title{
            font-size: 100px;
            color: $white;
            padding-bottom: 5px;
            @media #{$lg} {
                font-size: 70px;
            }
            @media #{$md} {
                font-size: 80px;
            }
            @media #{$xs} {
                font-size: 42px;
            }
            @media #{$sm} {
                font-size: 55px;
            }
        }
        & nav{
            display: inline-block;
            & ol{
                background-color: transparent;
                padding: 0;
                margin: 0;
                & li{
                    color: $white;
                    font-size: 20px;
                    &.active{
                        padding-left: 15px;
                    }
                    & a{
                        color: $white;
                    }
                }
            }
        }
    }
}
.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 13px;
    color: $white;
    content: "|";
}