

/*===========================
    1. COMMON css 
===========================*/


@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,700|Oswald:300,400,500,600,700&display=swap');

 body {
	font-family: $ar;
	font-weight: normal;
	font-style: normal;
    color: $body-color;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    @include box-sizing (border-box);
}

img {
	max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover{
	text-decoration: none;
}

i,
span,
a{
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ar;
	font-weight: 700;
	color: $heading-color;
	margin: 0px;
}

h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: $body-color;
	margin: 0px;
}

.bg_cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.page-link:focus {
	box-shadow: none;
}
// others common css here

.section-padding{
	padding: 13rem 0;
}

.section-title{
	margin-bottom: 4rem;
}

/*===== All Button Style =====*/

.main-btn {
	display: inline-block;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	@include user-select(none);
	border: 1px solid $theme-color;
	padding: 0 43px;
	font-size: 14px;
	line-height: 60px;
	border-radius: 30px;
    color: $white;
    cursor: pointer;
    font-family: $ar;
    z-index: 5;
    @include transition(0.4s);
    background-color: $theme-color;
    
    &:hover{
        background-color: $heading-color;
        color: $white;
        border-color: $heading-color;
    }
    
    &.main-btn-2{
        background-color: $accent-color;
        color: $white;
        border-color: $accent-color;
        &:hover{
            background-color: $theme-color;
            border-color: $theme-color;
            color: $white;
        }
    }
}


.main-btn-3 {
	display: inline-block;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	@include user-select(none);
	border: 0px;
	padding: 0 48px;
	font-size: 14px;
	line-height: 60px;
	border-radius: 30px;
    color: $white;
    cursor: pointer;
    font-family: $ar;
    z-index: 5;
    @include transition(0.4s);
    background: linear-gradient(to right, rgba(0,54,164,1) 0%, rgba(0,126,255,1) 50%, rgba(0,54,164,1) 100%);
    background-size: 200% auto;

    &:hover{
        background-position: right center;
        color: $white;
    }
    
    &.main-btn-4{
        background-color: $heading-color;
        color: $white;
        border-color: $heading-color;
        &:hover{
            background-color: $theme-color;
            border-color: $theme-color;
            color: $white;
        }
    }
}





.section-title{
	position: relative;
	padding-bottom: 33px;
	& span{
		color: $theme-color;
		font-weight: 700;
		position: relative;
		z-index: 11;
        text-transform: uppercase;
	}
	& .title{
		font-size: 60px;
		position: relative;
		z-index: 10;
		@media #{$xs} {
			font-size: 38px;
		}
		&::before{
			position: absolute;
			content: 'Price';
			bottom: -35px;
			left: 50%;
			font-size: 200px;
			z-index: -1;
			color: #e2eef6;
			transform: translateX(-50%);
			@media #{$md} {
				font-size: 150px;
			}
			@media #{$xs} {
				display: none;
			}
			@media #{$sm} {
				font-size: 112px;
				bottom: -20px;
				display: block;
			}

		}
	}
}




.pagination-area{
    & nav{
        & ul{
            & li{
                & a{
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    line-height: 48px;
                    padding: 0;
                    border-radius: 50%;
                    margin: 0 5px;
                    border: 2px solid #ededed;
                    font-size: 14px;
                    font-weight: 500;
                    color: #7886a0;
                    @include transition(0.3s);
                    @media #{$xs} {
                        margin: 0 2px;
                        height: 35px;
                        width: 35px;
                        line-height: 32px;
                        font-size: 14px;
                    }
                    @media #{$sm} {
                        margin: 0 2px;
                        height: 35px;
                        width: 35px;
                        line-height: 32px;
                        font-size: 14px;
                    }
                    &:hover{
                        background: $theme-color;
                        border-color: $theme-color;
                        color: $white;
                    }
                }
                &:first-child{
                    & a{
                        border-radius: 50% !important;
                    }
                }
                &:last-child{
                    & a{
                        border-radius: 50% !important;
                    }
                }
            }
        }
    }
}
