


/*===========================
    6.FUN FACTS css 
===========================*/





.fun-facts{
    padding-top: 118px;
    position: relative;
	& .fun-facts-content{
		margin-right: -48px;
		& span{
			font-weight: 700;
			color: $theme-color;
			padding-left: 70px;
			position: relative;
			&::before{
				position: absolute;
				content: '';
				left: 33px;
				top: 50%;
				transform: translateY(-50%);
				height: 5px;
				width: 15px;
				border-radius: 30px;
				background: $theme-color;
			}
			&::after{
				position: absolute;
				content: '';
				left: 0px;
				top: 50%;
				transform: translateY(-50%);
				height: 5px;
				width: 28px;
				border-radius: 30px;
				background: $theme-color;
			}
		}
		& .title{
			font-size: 60px;
			line-height: 70px;
            padding-bottom: 60px;
            @media #{$lg} {
                font-size: 48px;
                line-height: 58px;
            }
            @media #{$xs} {
                font-size: 26px;
                line-height: 36px;
            }
            @media #{$sm} {
                font-size: 48px;
                line-height: 58px;
            }
		}
	}
    & .fun-facts-thumb{
        position: absolute;
        right: 0;
        top: 50%;
        @include transform(translateY(-50%));
        text-align: left;
        width: 46%;
        @media #{$laptop} {
            width: 42%;
        }
        @media #{$md} {
            display: none;
        }
        @media #{$xs} {
            display: none;
        }
    }
}



.fun-facts-2-area{
    padding-top: 112px;
    padding-bottom: 113px;
    & .fun-facts-content{
        & span{
            padding-left: 70px;
            position: relative;
            font-weight: 700;
            color: #007afa;
            &::before{
                position: absolute;
                content: '';
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 4px;
                width: 28px;
                background: #0038a6;
                border-radius: 30px;
            }
            &::after{
                position: absolute;
                content: '';
                left: 33px;
                top: 50%;
                transform: translateY(-50%);
                height: 4px;
                width: 17px;
                background: #007bfc;
                border-radius: 30px;
            }
        }
        & .title{
            font-size: 60px;
            line-height: 70px;
            padding-top: 19px;
            @media #{$lg} {
                font-size: 50px;
                line-height: 60px;
            }
            @media #{$xs} {
                font-size: 33px;
                line-height: 40px;
            }
            @media #{$sm} {
                font-size: 48px;
                line-height: 50px;
            }
        }
        & p{
            font-size: 20px;
            line-height: 32px;
            padding-top: 25px;
            padding-bottom: 55px;
            @media #{$lg} {
                font-size: 18px;
            }
            @media #{$xs} {
                font-size: 16px;
            }
            @media #{$sm} {
                font-size: 20px;
            }
        }
    }
    & .fun-facts-thumb{
        position: relative;
        z-index: 10;
        text-align: center;
        @media #{$md} {
            margin-top: 40px;
        }
        @media #{$xs} {
            margin-bottom: 40px;
            margin-left: 0;
        }
        & img{
            width: 80%;
        }
        & .item{
            position: absolute;
            right: -90px;
            bottom: -90px;
            z-index: -1;
            & img{
                width: 180px;
            }
        }
    }
    &.fun-facts-3-area{
        & .fun-facts-content{
            & span{
                color: $theme-color;
                &::before{
                    background: $theme-color;
                }
                &::after{
                    background: $theme-color;
                }
            }
        }

        & .progress-bar-area{
            & .circle-item{
                & .counter-item{
                    & span{
                        color: $theme-color;
                    }
                }
            }
        }
    }



}




.skills {
    position: relative;

    & .skill-item {
        position: relative;
        margin-bottom: 46px;

        & .skill-header {
            position: relative;
            margin-bottom: 10px;

            & .skill-title {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 0;
                color: $heading-color;
                opacity: .8;
                padding-bottom: 10px;
            }

            & .skill-percentage {
                position: absolute;
                right: 0;
                top: 1px;
                font-size: 15px;
                font-weight: 600;
                color: #ff5e14;

                & .count-box {
                    font-weight: 500;
                    font-size: 15px;
                    color: $theme-color;
                    border: 2px solid $border-color;
                    border-radius: 30px;
                    padding: 0 10px;

                    & span {
                        font-weight: 500;
                        font-size: 15px;
                        color: $theme-color;
                    }
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        & .skill-bar {
            position: relative;
            width: 100%;

            & .bar-inner {
                position: relative;
                width: 100%;
                border-top: 5px solid #eeeff2;
                border-bottom: 5px solid #eeeff2;
                border-radius: 30px;

                & .bar {
                    position: absolute;
                    left: 0;
                    top: -2px;
                    width: 0;
                    height: 10px;
                    background: $theme-color;
                    -webkit-transition: all 2000ms ease;
                    transition: all 2000ms ease;
                    border-radius: 30px;
                    margin-top: -3px;
                }
            }
        }
    }
}






#circle1,
#circle2,
#circle3,
#circle4,
#circle5,
#circle6 {
    transform: rotate(90deg);
}


.circle-item{
    position: relative;
    @media #{$xs} {
        margin-bottom: 20px;
    }
    & .counter-item{
        position: absolute;
        left: 51%;
        top: 36%;
        transform: translate(-50%, -50%);
        display: flex;

    }
    & span{
        font-size: 1.6em;
        font-weight: 700;
        color: $heading-color;
        width: 100%;
        display: inline-block;

    }
    & p{
        color: $heading-color;
        font-weight: 700;
        padding-top: 18px;
    }
}