


/*===========================
    2.HEADER css 
===========================*/

.header-nav{
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);
    
    & .navigation{
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        padding-left: 30px;
        padding-right: 30px;
        z-index: 99;
        background: $theme-color;
        @media #{$md} {
            top: 0px;
        }
        @media #{$xs} {
            top: 0px;
            padding-left: 0;
            padding-right: 0;
        }
        @media #{$sm} {
            padding-left: 30px;
            padding-right: 30px;
        }
        &.sticky{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
            z-index: 999;
            animation: sticky  .4s;
            & .navbar{
                & .navbar-nav{
                    & .nav-item{
                        & a{
                            line-height: 80px;
                            @media #{$md} {
                                line-height: 40px;
                            }
                            @media #{$xs} {
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }
        & .navbar {
            position: relative;
            padding: 0 1.2em;
            & .country-flag{
                & img{
                    border: 5px solid $white;
                    border-radius: 6px;
                    box-shadow: 0px 8px 16px 0px rgba(60, 110, 203, 0.2);
                }
            }

            & .navbar-toggler {
                border-color: $white;
                & .toggler-icon {
                    width: 30px;
                    height: 2px;
                    background-color: $white;
                    margin: 5px 0;
                    display: block;
                    position: relative;
                    @include transition(0.3s);
                }

                &.active {
                    & .toggler-icon {
                        &:nth-of-type(1) {
                            @include transform(rotate(45deg));
                            top: 7px;
                        }

                        &:nth-of-type(2) {
                            opacity: 0;
                        }

                        &:nth-of-type(3) {
                            @include transform(rotate(135deg));
                            top: -7px;
                        }
                    }
                }
            }

            & .navbar-collapse {
                @media #{$md} {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    background-color: $white;
                    z-index: 8;
                    padding: 10px 16px;
                    box-shadow: 0 26px 48px 0 rgba(0, 0, 0, .15);
                }

                @media #{$xs} {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    background-color: $white;
                    z-index: 8;
                    padding: 10px 16px;
                    box-shadow: 0 26px 48px 0 rgba(0, 0, 0, .15);
                }
            }

            & .navbar-nav {


                @media #{$md} {
                    margin-right: 0;
                }

                @media #{$xs} {
                    margin-right: 0;
                }

                & .nav-item {
                    position: relative;
                    padding: 0.5em 1em;

                    @media #{$lg} {
                        margin-right: 18px;
                    }

                    & a {
                        font-size: 1.2em;
                        font-weight: 400;
                        padding: 0 30px;
                        color: $white;
                        text-transform: uppercase;
                        position: relative;
                        @include transition(0.3s);
                        margin: 0;
                        line-height: 120px;
                        &::before{
                            position: absolute;
                            content: '';
                            left: 0;
                            top: 10px;
                            width: 100%;
                            height: 0px;
                            background: $white;
                            opacity: 0;
                            @include transition(0.3s);
                        }
                        &::after{
                            position: absolute;
                            content: '';
                            left: 0;
                            bottom: 10px;
                            width: 100%;
                            height: 0px;
                            background: $white;
                            opacity: 0;
                            @include transition(0.3s);
                        }

                        @media #{$lg} {
                            font-size: 15px;
                            padding: 0 5px;
                        }

                        @media #{$md} {
                            padding: 0;
                            display: block;
                            border: 0;
                            margin: 0;
                            line-height: 40px;
                            color: $body-color;
                        }

                        @media #{$xs} {
                            padding: 0;
                            display: block;
                            border: 0;
                            margin: 0;
                            line-height: 40px;
                            color: $body-color;
                        }

                        & span {
                            padding-left: 5px;
                            font-size: 15px;

                            @media #{$md} {
                                display: none;
                            }

                            @media #{$xs} {
                                display: none;
                            }
                        }
                        &.active,
                        &:hover{
                            background: rgba(255, 255, 255, 0.1);
                            &::before{
                                height: 4px;
                                opacity: 1;
                                top: 0px;
                            }
                            &::after{
                                height: 4px;
                                opacity: 1;
                                bottom: 0px;
                            }
                        }
                    }

                    & .sub-menu {
                        position: absolute;
                        left: 0;
                        top: 110%;
                        width: 260px;
                        background-color: $white;
                        opacity: 0;
                        visibility: hidden;
                        @include transition(0.3s);
                        z-index: 99;
                        @include box-shadow (0 2px 6px 0 rgba(0, 0, 0, 0.16));

                        @media #{$md} {
                            position: relative !important;
                            width: 100% !important;
                            left: 0 !important;
                            top: auto !important;
                            opacity: 1 !important;
                            visibility: visible !important;
                            display: none;
                            right: auto;
                            @include transform(translateX(0%));
                            @include transition(none);
                            @include box-shadow(none);
                            text-align: left;
                            border-top: 0;
                            @include transition(0s);
                        }

                        @media #{$xs} {
                            position: relative !important;
                            width: 100% !important;
                            left: 0 !important;
                            top: auto !important;
                            opacity: 1 !important;
                            visibility: visible !important;
                            display: none;
                            right: auto;
                            @include transform(translateX(0%));
                            @include transition(none);
                            @include box-shadow(none);
                            text-align: left;
                            border-top: 0;
                            @include transition(0s);
                        }

                        & > li {
                            position: relative;

                            & .sub-nav-toggler {
                                color: $heading-color;
                                @include transition(0.3s);
                            }

                            & a {
                                display: block;
                                padding: 8px 24px;
                                position: relative;
                                color: $body-color;
                                @include transition(0.3s);
                                border-radius: 0;
                                margin: 0 0;
                                line-height: 30px;
                                &::before{
                                    height: 0;
                                }
                                &::after{
                                    height: 0;
                                }

                                & i {
                                    float: right;
                                    font-size: 14px;
                                    margin-top: 5px;

                                    @media #{$md} {
                                        display: none;
                                    }

                                    @media #{$xs} {
                                        display: none;
                                    }
                                }

                                & .sub-nav-toggler {
                                    & i {
                                        display: inline-block;
                                    }
                                }
                            }

                            & .sub-menu {
                                right: auto;
                                left: 100%;
                                top: 0;
                                opacity: 0;
                                visibility: hidden;
                                @include transition(0.3s);

                                @media #{$md} {
                                    padding-left: 30px;
                                }

                                @media #{$xs} {
                                    padding-left: 30px;
                                }
                            }

                            &:hover {
                                & .sub-menu {
                                    top: 100%;
                                    opacity: 1;
                                    visibility: visible;
                                }

                                & .sub-nav-toggler {
                                    color: $white;
                                }

                                & > a {
                                    background-color: $theme-color;
                                    color: #fff !important;
                                }
                            }
                        }
                    }

                    &:hover {
                        & .sub-menu {
                            opacity: 1;
                            visibility: visible;
                            top: 100%;
                        }
                    }

                    .sub-nav-toggler {
                        display: none;

                        @media #{$md} {
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 10px 14px;
                            font-size: 16px;
                            background: none;
                            border: 0;
                            color: $heading-color;
                        }

                        @media #{$xs} {
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 10px 14px;
                            font-size: 16px;
                            background: none;
                            border: 0;
                            color: $heading-color;
                        }
                    }
                }
            }

            & .navbar-social {
                @media #{$md} {
                    position: absolute;
                    right: 90px;
                    top: 50%;
                    margin-right: 0;
                    transform: translateY(-50%);
                }

                @media #{$xs} {
                    display: none;
                }

                @media #{$sm} {
                    position: absolute;
                    right: 90px;
                    top: 50%;
                    margin-right: 0;
                    transform: translateY(-50%);
                    display: block;
                }
                ul{
                    & li{
                        display: inline-block;
                        & a{
                            color: $white;
                            font-size: 18px;
                            margin-left: 16px;
                        }
                    }
                }
            }

            & .navbar-btn {
                & a {
                    color: $heading-color;
                }
            }
        }
    }
}


.header-area{
    &.header-area-2{
        & .header-nav{
            & .navigation{
                background-color: transparent;
                top: 50px;
                padding-left: 70px;
                padding-right: 70px;
                @media #{$xs} {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                & .navbar{
                    & .navbar-nav{
                        & .nav-item{
                            @media #{$lg} {
                                margin: 0 8px;
                            }
                        }
                        & a{
                            @media #{$lg} {
                                font-size: 14px;
                            }
                            &:hover,
                            &.active{
                                background-color: transparent;
                                &::before{
                                    height: 0;
                                }
                                &::after{
                                    height: 0;
                                }
                            }
                        }
                    }
                    & .navbar-social{
                        & a{
                            @media #{$lg} {
                                padding: 0 30px;
                            }
                        }
                    }
                }
                &.sticky{
                    background: $heading-color;
                    top: 0;
                }
            }
        }
    }
    &.header-3-area{
        & .navigation{
            background: #fff;
            @media #{$xs} {
                padding: 0 10px;
            }
            @media #{$sm} {
                padding: 0 0px;
            }
            & .navbar{
                & .navbar-toggler{
                    border-color: $heading-color;
                    & span{
                        background: $heading-color;
                    }
                }
                & .navbar-nav{
                    & .nav-item{
                        & a{
                            color: $heading-color-2;
                            &::after{
                                height: 0;
                            }
                            &::before{
                                background: $theme-color;
                                @media #{$md} {
                                    background-color: transparent;
                                }
                                @media #{$xs} {
                                    background-color: transparent;
                                }
                            }
                            &.active,
                            &:hover{
                                background: #f7fcff;
                                @media #{$md} {
                                    background-color: transparent;
                                }
                                @media #{$xs} {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@-webkit-keyframes sticky {
    0% {
        top: -200px;
    }

    100% {
        top: 0;
    }
}

@keyframes sticky {
    0% {
        top: -200px;
    }

    100% {
        top: 0;
    }
}


