


/*===========================
    14.PROCESS css 
===========================*/





.process-area{
	background: #f2f8ff;
	padding-top: 112px;
	padding-bottom: 130px;
	& .section-title{
		padding-bottom: 63px;
		& span{
			color: #007afa;
		}
		& .title{
			&::before{
				content: 'Process';
			}
		}
	}
	& .process-item{
		padding-bottom: 50px;
		padding-top: 70px;
		position: relative;
		& span{
			height: 70px;
			width: 70px;
			text-align: center;
			line-height: 70px;
			border-radius: 50%;
			background-image: -moz-linear-gradient( 0deg, rgb(0,54,164) 0%, rgb(0,126,255) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(0,54,164) 0%, rgb(0,126,255) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(0,54,164) 0%, rgb(0,126,255) 100%);
			font-size: 20px;
			color: $white;
			font-weight: 700;
			position: absolute;
			left: 50%;
			top: -35px;
			transform: translateX(-50%);
		}
		& .title{
			font-size: 24px;
		}
		& p{
			padding: 15px 45px 35px;
			@media #{$lg} {
				padding: 15px 30px 35px;
			}
			@media #{$md} {
				padding: 15px 65px 35px;
			}
		}
		& i{
			font-size: 80px;
			color: #d9e8ee;
		}
	}
}


.process-3-area{
	& .process-thumb{
		margin-left: -80px;
		margin-right: 50px;
		@media #{$lg} {
			margin-left: 0;
			margin-right: 50px;
		}
		@media #{$md} {
			margin-left: 0;
			margin-right: 0px;
		}
		@media #{$xs} {
			margin-left: 0;
			margin-right: 0px;
		}
		& > img{
			width: 100%;
		}
		& .about-shape{
			position: absolute;
			z-index: 3;
			bottom: 0px;
			right: 130px;
			background: $theme-color;
			height: 100px;
			width: 100px;
			border-radius: 50%;
			text-align: center;
			line-height: 100px;
			@include box-shadow(0px 20px 40px 0px rgba(255,93,34,0.4));
			@media #{$xs} {
				right: 15px;
			}
			@media #{$sm} {
				right: 55px;
			}
		}
	}
	& .process-content{
		@media #{$md} {
			margin-top: 40px;
		}
		@media #{$xs} {
			margin-top: 40px;
		}
		& .process-title{
			& > span{
				color: $theme-color;
				font-weight: 700;
				position: relative;
				padding-left: 70px;
				&::before{
					position: absolute;
					content: '';
					left: 33px;
					top: 50%;
					transform: translateY(-50%);
					height: 5px;
					width: 17px;
					background: $theme-color;
					border-radius: 30px;
				}
				&::after{
					position: absolute;
					content: '';
					left: 0px;
					top: 50%;
					transform: translateY(-50%);
					height: 5px;
					width: 28px;
					background: $theme-color;
					border-radius: 30px;
				}
			}
			& .title{
				font-size: 60px;
				color: $heading-color;
				padding-bottom: 35px;
				padding-top: 20px;
				@media #{$xs} {
					font-size: 36px;
				}
				@media #{$sm} {
					font-size: 60px;
				}
			}
		}
		& .item{
			padding-left: 120px;
			position: relative;
			@media #{$xs} {
				padding-left: 70px;
			}
			@media #{$sm} {
				padding-left: 120px;
			}
			& .title{
				font-size: 30px;
				@media #{$xs} {
					font-size: 28px;
				}

			}
			& p{
				padding-right: 10px;
			}
			& span{
				position: absolute;
				left: 0;
				top: 0;
				font-size: 80px;
				color: $white;
				line-height: 75px;
				text-shadow: 2px 2px 0 $theme-color, 2px -2px 0 $theme-color, -2px 2px 0 $theme-color, -2px -2px 0 $theme-color, 2px 0px 0 $theme-color, 0px 2px 0 $theme-color, -2px 0px 0 $theme-color, 0px -2px 0 $theme-color, 2px 2px 5px rgba(206,89,55,0);
				@media #{$xs} {
					font-size: 45px;
				}
				@media #{$sm} {
					font-size: 80px;
				}
			}
		}
	}
}
