


/*===========================
    4.SUB css 
===========================*/




.sub-area{
	overflow: hidden;
	.sub-item{
		border: 2px solid $border-color;
		padding-top: 100px;
		padding-bottom: 100px;
		border-top: 0;
		border-left: 0;
		& .title{
			font-size: 30px;
			padding-top: 43px;
			padding-bottom: 15px;
			@media #{$lg} {
				font-size: 20px;
			}
			@media #{$xs} {
				font-size: 26px;
			}
			@media #{$sm} {
				font-size: 30px;
			}
		}
		& a{
			height: 60px;
			width: 60px;
			text-align: center;
			line-height: 54px;
			border: 4px solid $border-color;
			border-radius: 50%;
			margin-top: 30px;
			color: $heading-color;
			@include transition(0.3s);
			&:hover{
				background: $theme-color;
				color: $white;
				border-color: $theme-color;
				box-shadow: 0px 8px 16px 0px rgba(255, 93, 34, 0.3);
			}
		}
		& p{
			padding: 0 65px;
			@media #{$laptop} {
				padding: 0 0;
			}
			@media #{$lg} {
				padding: 0 5px;
			}
			@media #{$xs} {
				padding: 0 25px;
			}
			@media #{$sm} {
				padding: 0 65px;
			}
		}
	}
}




.sub-2-area{
	& .sub-item{
		height: 700px;
		border-right: 1px solid rgba(255, 255, 255, 0.2);
		position: relative;
		@include transition(0.3s);
		& .sub-content{
			position: absolute;
			left: 60px;
			bottom: 60px;
			@media #{$laptop} {
				left: 30px;
				bottom: 30px;
			}
			@media #{$lg} {
				left: 30px;
				bottom: 30px;
			}
			@media #{$md} {
				left: 30px;
				bottom: 30px;
			}
			@media #{$xs} {
				left: 20px;
				bottom: 20px;
			}
			& .title{
				font-size: 24px;
				color: $white;
				font-weight: 700;
			}
			& p{
				color: #a5b6c1;
				padding-top: 5px;
				@include transition(0.3s);
				@media #{$laptop} {
					font-size: 15px;
				}
				@media #{$md} {
					font-size: 15px;
				}
			}
			& a{
				height: 60px;
				width: 60px;
				text-align: center;
				line-height: 60px;
				border: 2px solid rgba(255, 255, 255, 0.2);
				color: #a5b6c1;
				border-radius: 50%;
				margin-top: 23px;
				@include transition(0.3s);
			}
		}
		&:hover{
			background-color: rgba(255, 93, 34, 0.9);
			border-right-color:  rgba(255, 93, 34, 0.9);
			& .sub-content{
				& p{
					color: $white;
				}
				& a{
					background: $white;
					border-color: $white;
					color: $theme-color;
				}
			}
		}
	}
	& .row{
		& .col-lg-3{
			padding-left: 0;
			padding-right: 0;
		}
	}

}

 