


/*===========================
    4.SUB css 
===========================*/




.sub-area{
	overflow: hidden;
	.row {
		> div {
			&:not(:nth-child(4n)) {
				.sub-item {
					border-right: 1px solid $border-color;
				}
			}
			@media #{$md} {
				&:not(:nth-child(2n)) {
					.sub-item {
						border-right: 1px solid $border-color;
					}
				}
				&:nth-child(2n) {
					.sub-item {
						border-right: none;
					}
				}
			}
			@media #{$xs} {
				&:nth-child(2n+1) {
					.sub-item {
						border-right: 1px solid $border-color;
					}
				}
				&:nth-child(2n) {
					.sub-item {
						border-right: none;
					}
				}
				&:nth-child(n+3) {
					.sub-item {
						border-top: 1px solid $border-color;
					}
				}
			}
		}
	}
	.sub-item{
		padding-top: 80px;
		padding-bottom: 80px;
		border: none;
		@media #{$xs} {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		img {
			width: 70px;
			height: auto;
			@media #{$xs} {
				width: 60px;
			}
		}
		& .title{
			font-size: 24px;
			padding-top: 30px;
			padding-bottom: 12px;
			@media #{$lg} {
				font-size: 18px;
			}
			@media #{$xs} {
				font-size: 20px;
			}
			@media #{$sm} {
				font-size: 22px;
			}
		}
		& a{
			height: 50px;
			width: 50px;
			text-align: center;
			line-height: 44px;
			border: 3px solid $border-color;
			border-radius: 50%;
			margin-top: 25px;
			color: $heading-color;
			font-size: 14px;
			@include transition(0.3s);
			&:hover{
				background: $theme-color;
				color: $white;
				border-color: $theme-color;
				box-shadow: 0px 8px 16px 0px rgba(255, 93, 34, 0.3);
			}
		}
		& p{
			padding: 0 50px;
			font-size: 14px;
			line-height: 1.6;
			@media #{$laptop} {
				padding: 0 20px;
				font-size: 13px;
			}
			@media #{$lg} {
				padding: 0 20px;
				font-size: 13px;
			}
			@media #{$xs} {
				padding: 0 20px;
				font-size: 13px;
			}
			@media #{$sm} {
				padding: 0 30px;
				font-size: 14px;
			}
		}
	}
}




.sub-2-area{
	& .sub-item{
		height: 700px;
		border-right: 1px solid rgba(255, 255, 255, 0.2);
		position: relative;
		@include transition(0.3s);
		& .sub-content{
			position: absolute;
			left: 60px;
			bottom: 60px;
			@media #{$laptop} {
				left: 30px;
				bottom: 30px;
			}
			@media #{$lg} {
				left: 30px;
				bottom: 30px;
			}
			@media #{$md} {
				left: 30px;
				bottom: 30px;
			}
			@media #{$xs} {
				left: 20px;
				bottom: 20px;
			}
			& .title{
				font-size: 24px;
				color: $white;
				font-weight: 700;
			}
			& p{
				color: #a5b6c1;
				padding-top: 5px;
				@include transition(0.3s);
				@media #{$laptop} {
					font-size: 15px;
				}
				@media #{$md} {
					font-size: 15px;
				}
			}
			& a{
				height: 60px;
				width: 60px;
				text-align: center;
				line-height: 60px;
				border: 2px solid rgba(255, 255, 255, 0.2);
				color: #a5b6c1;
				border-radius: 50%;
				margin-top: 23px;
				@include transition(0.3s);
			}
		}
		&:hover{
			background-color: rgba(255, 93, 34, 0.9);
			border-right-color:  rgba(255, 93, 34, 0.9);
			& .sub-content{
				& p{
					color: $white;
				}
				& a{
					background: $white;
					border-color: $white;
					color: $theme-color;
				}
			}
		}
	}
	& .row{
		& .col-lg-3{
			padding-left: 0;
			padding-right: 0;
		}
	}

}

 