


/*===========================
    15.TEAM css 
===========================*/



.team-area{
	& .team-item{
		position: relative;
		& img{
			width: 100%;
		}
		& .team-overlay{
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(180deg, rgba(255,255,255,0) 25%, rgba(0,39,118,1) 100%);
            @include transition(0.3s);
            &::before{
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                border: 14px solid transparent;
                @include transition(0.3s);
                
                
            }
            & .team-info{
                position: absolute;
                left: 35px;
                bottom: 35px;
                & .title{
                    color: $white;
                    font-size: 30px;
                    font-weight: 700;
                    @media #{$lg} {
                        font-size: 24px;
                    }
                }
                & span{
                    font-weight: 700;
                    color: $white;
                    padding-top: 4px;
                    padding-bottom: 15px;
                }
                & i{
                    height: 60px;
                    width: 60px;
                    text-align: center;
                    line-height: 56px;
                    border: 2px solid #ddd;
                    color: $white;
                    border-radius: 50%;
                    font-size: 18px;
                    @include transition(0.3s);
                }
            }
		}
        &:hover{
            & .team-overlay{
                background: rgba(0, 39, 118, 0.94);
                &::before{
                    border: 14px solid #0c80f9;
                }
                & .team-info{
                    & i{
                        background: #0c80f9;
                        border-color: #0c80f9;
                    }
                }
                
            }
        }
	}
}




.team-page-area{
    & .team-item{
        position: relative;
        & .team-overlay{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            height: 100px;
            width: 90%;
            background: $white;
            @media #{$xs} {
                padding-left: 20px;
            }
            @media #{$sm} {
                padding-left: 40px;
            }
            &::before{
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                height: 100%;
                width: 6px;
                background: $heading-color;
                
            }
            & .item{
                & .title{
                    font-size: 24px;
                    font-weight: 700;
                    color: #001219;
                    @media #{$lg} {
                        font-size: 22px;
                    }
                }
                & span{
                    font-size: 14px;
                    font-weight: 700;
                    color: $theme-color;
                }
            }
        }
        & img{
            width: 100%;
        }
    }
}
