


/*===========================
    6.TOUR css 
===========================*/





.tour-area{
	& .row{
		& .col-lg-3,
		& .col-lg-4,
		& .col-lg-8,
		& .col-lg-5{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	& .tour-thumb{
		position: relative;
		& .tour-overlay{
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background: $white;
			border: 20px solid $theme-color;
			padding: 100px;
			@media #{$lg} {
				padding: 50px;
			}
			@media #{$md} {
				padding: 40px;
			}
			@media #{$xs} {
				display: none;
			}
			@media #{$sm} {
				padding: 20px;
				display: block;
			}
			& span{
				font-weight: 700;
				font-size: 18px;
				color: $theme-color;
				padding-bottom: 18px;
			}
			& .title{
				font-size: 60px;
				line-height: 70px;
				padding-bottom: 16px;
				@media #{$lg} {
					font-size: 34px;
					line-height: 44px;
				}
				@media #{$sm} {
					font-size: 42px;
					line-height: 52px;
				}
			}
			& p{
				padding-right: 25px;
			}
		}
		& img{
			width: 100%;
		}
	}
}
